* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
    color: #0d103f;
    background-color: #e7e7e7;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container h1>a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.container h1>a:hover {
    color: gray;
}

header h1 {
    font-family: 'Playpen Sans', cursive;
}

header,
footer {
    background-color: #456ac8;
    padding-top: 16px;
    color: #fff;
}

header > .container,
footer > .container  {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #456ac8;
    padding: 12px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav li a:hover {
    color: gray;
}

.menu {
    width: 32px;
    cursor: pointer;
}

.container-grid {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 16px;
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
}

#about {
    margin-top: 32px;
    margin-bottom: 32px;
}

#about img {
    max-width: 40%;
    margin-right: 24px;
}

#about p {
    padding-bottom: 8px;
}

section {
    padding: 0;
}

section h2 {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #0d103f;
}

.container-grid li {
    list-style: none;
    max-width: 24.25%;
    column-gap: 1%;
}

.container-grid img {
    max-width: 100%;
}

.container-grid li h3 {
    margin: 16px 0;
}

.container-grid li>strong {
    margin: 16px 0;
    display: block;
}

button {
    display: block;
    width: 100%;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    background-color: #0d103f;
    padding: 12px 0;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 24px;
}

button:hover {
    background-color: #2b306b;
}

.footer-img {
    display: flex;
    align-items: center;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img{
    height: 32px;
}

@media screen and (max-width: 640px) {

    .container {
        max-width: 85%;
        display: block;
    }

    header {
        padding-top: 8px;
    }

    #container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 6px;
    }

    #container-header h1 {
        text-align: left;
        margin-right: 12px;
    }

    #container-menu {
        display: block;
        text-align: left;
    }

    nav {
        padding: 0;
    }

    nav li {
        font-size: 14px;
        display: block;
        margin: 0;
        padding-bottom: 6px;
    }

    section {
        padding: 0;
    }

    #container-header>h1 {
        font-size: 1.5em ;
        padding-bottom: 6px;
    }

    #about {
        margin-top: 16px;
    }

    section h2 {
        font-size: 1.3em;
    }

    #about img {
        max-width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
    }

    .container-destaque {
        display: grid;
        width: 100%;
        max-width: 85%;
    }
        
    .container-destaque li {
        max-width: 100%;
    }

    .container-produtos {
        display: grid;
        grid-template-columns: 100%;
        max-width: 100%;
        margin-bottom: 8px;
    }

    .container-produtos img {
        width: 100%;
        margin-bottom: 8px;
    }

    button {
        margin-bottom: 32px;
    }

    .container-footer {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
        display: block;
    }

    #container-header {
        display: flex;
        align-items: center;
        padding: 0;
        padding-bottom: 8px;
    }

    #container-menu {
        display: inline;
        font-size: 16px;
    }

    header {
        padding-top: 8px;
    }

    section {
        padding: 0;
    }

    #container-header>h1 {
        font-size: 2em ;
        padding-bottom: 6px;
    }

    #about img {
        max-width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
    }

    .container-destaque {
        display: grid;
        width: 100%;
        max-width: 90%;
    }
        
    .container-destaque li {
        max-width: 100%;
    }

    .container-produtos {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        max-width: 100%;
        column-gap: 1%;
        row-gap: 2%;
        margin-bottom: 16px;
    }

    .container-produtos img {
        width: 100%;
        margin-bottom: 16px;
    }

    .container-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}