* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1>a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.container h1>a:hover {
    color: gray;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1 {
    font-family: 'Playpen Sans', cursive;
}

header,
footer {
    background-color: #456ac8;
    padding-top: 16px;
    color: #fff;
}

header > .container,
footer > .container  {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #456ac8;
    padding: 16px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav li a:hover {
    color: gray;
}

.menu {
    width: 32px;
    cursor: pointer;
}

.container-grid {
    display: grid;
    grid-template-columns: 24.25%;
}

#about img {
    max-width: 400px;
    margin-right: 24px;
}

#about p {
    padding: 8px;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-produtos li {
    list-style: none;
}

.lista-produtos li img {
    max-width: 300px;
    height: 300px;
}

.lista-produtos li h3 {
    margin: 16px 0;
}

.lista-produtos li>strong {
    margin: 16px 0;
    display: block;
}

button {
    display: block;
    width: 100%;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #0d103f;
    padding: 8px 0;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #2b306b;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img{
    height: 32px;
}